<script context="module" lang="ts">
  export interface Footnote {
    node: Node;
    position: number;
  }
</script>

<script lang="ts">
  import type { Node } from "prosemirror-model";
  import type { EditorState } from "prosemirror-state";
  import type { EditorView } from "prosemirror-view";
  import type { Writable } from "svelte/store";
  import FootnoteView from "./FootnoteView.svelte";

  export let view: EditorView;
  export let state: EditorState;
  export let focusedView: Writable<EditorView>;
  export let editorId: string;

  function getFootnotes(state: EditorState): Footnote[] {
    let footnotes: Footnote[] = [];
    state.doc.descendants((node, pos, parent, index) => {
      if (node.type.name === "footnote") {
        footnotes.push({ node, position: pos });
      }
    });
    return footnotes;
  }

  $: footnotes = getFootnotes(state);
</script>

{#if footnotes.length > 0}
  <ol>
    {#each footnotes as footnote, index}
      <FootnoteView
        {footnote}
        outerView={view}
        {focusedView}
        {editorId}
        {index}
      />
    {/each}
  </ol>
{/if}
