.ProseMirror {
  counter-reset: prosemirror-footnote;
}
footnote {
  display: inline-block;
  position: relative;
  cursor: pointer;
}
footnote::after {
  content: counter(prosemirror-footnote);
  vertical-align: super;
  font-size: 75%;
  counter-increment: prosemirror-footnote;
}
.ProseMirror-hideselection .footnote-tooltip *::selection {
  background-color: transparent;
}
.ProseMirror-hideselection .footnote-tooltip *::-moz-selection {
  background-color: transparent;
}
.footnote-tooltip {
  cursor: auto;
  position: absolute;
  left: -30px;
  top: calc(100% + 10px);
  background: silver;
  padding: 3px;
  border-radius: 2px;
  width: 500px;
}
.footnote-tooltip::before {
  border: 5px solid silver;
  border-top-width: 0px;
  border-left-color: transparent;
  border-right-color: transparent;
  position: absolute;
  top: -5px;
  left: 27px;
  content: " ";
  height: 0;
  width: 0;
}
