<script lang="ts">
  import { redo, undo } from "prosemirror-history";

  import { keymap } from "prosemirror-keymap";

  import type { Node } from "prosemirror-model";
  import { EditorState, Transaction } from "prosemirror-state";
  import { StepMap } from "prosemirror-transform";
  import { EditorView } from "prosemirror-view";
  import { onDestroy, onMount } from "svelte";
  import type { Writable } from "svelte/store";
  import type { Footnote } from "./FootnotesView.svelte";
  import { findFootnoteIndex } from "./links";

  export let outerView: EditorView;
  export let footnote: Footnote;
  export let focusedView: Writable<EditorView>;
  export let editorId: string;
  export let index: number;
  $: id = `sutty-editor-${editorId}-footnote-${index}`;

  let wrapperEl: HTMLElement;
  let view: EditorView | null = null;

  function dispatchInner(tr: Transaction) {
    if (!view) return;
    let { state, transactions } = view.state.applyTransaction(tr);
    view.updateState(state);

    if (!tr.getMeta("fromOutside")) {
      let outerTr = outerView.state.tr,
        offsetMap = StepMap.offset(footnote.position + 1);
      for (let i = 0; i < transactions.length; i++) {
        let steps = transactions[i].steps;
        for (let j = 0; j < steps.length; j++)
          outerTr.step(steps[j].map(offsetMap)!);
      }
      //if (outerTr.docChanged) outerView.dispatch(outerTr);
      outerView.dispatch(outerTr);
    }
  }

  $: {
    if (view) {
      const { state } = view;
      const start = footnote.node.content.findDiffStart(state.doc.content);
      // Si hay una diferencia con la footnote de afuera y el state nuestro
      if (start != null) {
        // Encontrar el final de esa diferencia
        let { a: endA, b: endB } = footnote.node.content.findDiffEnd(
          state.doc.content
        );
        let overlap = start - Math.min(endA, endB);
        if (overlap > 0) {
          endA += overlap;
          endB += overlap;
        }
        view.dispatch(
          state.tr
            .replace(start, endB, footnote.node.slice(start, endA))
            .setMeta("fromOutside", true)
        );
      }
    }
  }

  function handleClick(event: Event) {
    const target = event.target as HTMLElement;

    if (target.id !== id) return;

    const index = findFootnoteIndex(outerView.state.doc, footnote.position);
    if (index === null) {
      console.error(
        "Clickearon",
        target,
        "pero no pude encontrar la footnote en el documento"
      );
      return false;
    }

    const footnoteEl = outerView.dom.querySelectorAll("footnote")[
      index
    ] as HTMLElement;
    footnoteEl.parentElement.focus();
    footnoteEl.scrollIntoView({ behavior: "smooth", block: "center" });
    return true;
  }

  onMount(() => {
    view = new EditorView(wrapperEl, {
      // You can use any node as an editor document
      state: EditorState.create({
        doc: footnote.node,
        plugins: [
          keymap({
            "Mod-z": () => undo(outerView.state, outerView.dispatch),
            "Mod-y": () => redo(outerView.state, outerView.dispatch),
          }),
        ],
      }),
      // This is the magic part
      dispatchTransaction: dispatchInner,
      handleDOMEvents: {
        focus() {
          $focusedView = view;
        },
      },
    });
  });
  onDestroy(() => {
    view.destroy();
  });
</script>

<li on:click={handleClick} {id}>
  <div bind:this={wrapperEl} />
</li>
