<script lang="ts">
  import { lang, dir } from "../i18n_utils";
  import { nanoid } from "nanoid";
  import type { EditorState } from "prosemirror-state";
  import type { EditorView } from "prosemirror-view";
  import { getAttrFn, setAlign } from "../ps-utils";
  import type { Align } from "../schema";

  export let view: EditorView;
  export let state: EditorState;

  const locale = lang();
  const direction = dir();

  interface Lang<T> {
    es: T;
    en: T;
  }
  interface AlignButton {
    id: string;
    value: Lang<Align>;
    icon: string;
    label: Lang<string>;
  }

  const name = nanoid();
  const aligns: AlignButton[] = [
    {
      id: nanoid(),
      value: {
        es: "start",
        en: "start",
      },
      icon: "align-left",
      label: {
        es: "Izquierda",
        en: "Left",
      },
    },
    {
      id: nanoid(),
      value: {
        es: "center",
        en: "center",
      },
      icon: "align-center",
      label: {
        es: "Centro",
        en: "Center",
      },
    },
    {
      id: nanoid(),
      value: {
        es: "end",
        en: "end",
      },
      icon: "align-right",
      label: {
        es: "Derecha",
        en: "Right",
      },
    },
  ];
  $: isPossible = setAlign(null)(state, null);
  $: currentValue = getAttrFn("align")(state);

  const onChange = (event: Event) => {
    event.preventDefault();

    const { value } = event.target as HTMLInputElement;
    const align = value as Align;
    setAlign(align)(state, view.dispatch);
  };
</script>

<div class="d-none">
  {#each aligns as align}
    <input
      on:change={onChange}
      disabled={!isPossible}
      id={align.id}
      {name}
      value={align.value[locale]}
      type="radio"
    />
  {/each}
</div>

<div class="btn-group mr-1">
  {#each aligns as align}
    <label
      for={align.id}
      title={align.label[locale]}
      aria-pressed={currentValue === align.value[locale]}
      class="btn btn-info mb-0 {currentValue === align.value[locale]
        ? 'active'
        : ''}"
      class:disabled={!isPossible}
    >
      <i aria-hidden="true" class="fa fa-{align.icon}" />
      <span class="sr-only">{align.label[locale]}</span>
    </label>
  {/each}
</div>
