<script lang="ts">
  import { lang } from "../i18n_utils";
  import { nanoid } from "nanoid";
  import type { EditorState } from "prosemirror-state";
  import type { EditorView } from "prosemirror-view";
  import { setBlockType } from "prosemirror-commands";

  export let view: EditorView;
  export let state: EditorState;

  const paragraphType = state.schema.nodes.paragraph;
  const headingType = state.schema.nodes.heading;
  const locale = lang();

  interface LangString {
    es: string;
    en: string;
  }
  interface Block {
    id: string;
    value: string;
    icon?: string;
    label: LangString;
    title?: LangString;
  }

  const name = nanoid();
  const blocks: Block[] = [
    {
      id: nanoid(),
      value: "paragraph",
      icon: "paragraph",
      label: {
        es: "Párrafo",
        en: "Paragraph",
      },
    },
    {
      id: nanoid(),
      value: "heading:1",
      icon: "heading",
      label: {
        es: "Título 1",
        en: "Heading 1",
      },
    },
    {
      id: nanoid(),
      value: "heading:2",
      label: {
        es: "2",
        en: "2",
      },
      title: {
        es: "Título 2",
        en: "Heading 2",
      },
    },
    {
      id: nanoid(),
      value: "heading:3",
      label: {
        es: "3",
        en: "3",
      },
      title: {
        es: "Título 3",
        en: "Heading 3",
      },
    },
    {
      id: nanoid(),
      value: "heading:4",
      label: {
        es: "4",
        en: "4",
      },
      title: {
        es: "Título 4",
        en: "Heading 4",
      },
    },
    {
      id: nanoid(),
      value: "heading:5",
      label: {
        es: "5",
        en: "5",
      },
      title: {
        es: "Título 5",
        en: "Heading 5",
      },
    },
    {
      id: nanoid(),
      value: "heading:6",
      label: {
        es: "6",
        en: "6",
      },
      title: {
        es: "Título 6",
        en: "Heading 6",
      },
    },
  ];

  $: currentValue =
    state.selection.to <= state.selection.$from.end() &&
    (state.selection.$from.parent.type == headingType
      ? `heading:${state.selection.$from.parent.attrs.level}`
      : state.selection.$from.parent.type == paragraphType
      ? "paragraph"
      : null);

  const onChange = (event: Event) => {
    event.preventDefault();

    const [type, param] = (event.target as HTMLInputElement).value.split(":");
    if (type === "paragraph") {
      setBlockType(paragraphType, {
        align: state.selection.$from.parent.attrs.align,
      })(state, view.dispatch);
    } else if (type === "heading") {
      setBlockType(headingType, {
        level: parseInt(param),
        align: state.selection.$from.parent.attrs.align,
      })(state, view.dispatch);
    } else {
      console.error(`¡type no es heading ni paragraph! Es`, type);
    }
  };
</script>

<div class="d-none">
  {#each blocks as block}
    <input
      on:change={onChange}
      id={block.id}
      {name}
      value={block.value}
      type="radio"
    />
  {/each}
</div>

<div class="btn-group">
  {#each blocks as block}
    <label
      for={block.id}
      aria-pressed={currentValue === block.value}
      title={block.title ? block.title[locale] : block.label[locale]}
      class="btn btn-info mb-0 {currentValue === block.value ? 'active' : ''}"
    >
      {#if block.icon}
        <i aria-hidden="true" class="fa fa-{block.icon}" />
        <span class="sr-only">{block.label[locale]}</span>
      {:else}
        {block.label[locale]}
      {/if}
    </label>
  {/each}
</div>
