<script lang="ts">
  import { wrapIn } from "prosemirror-commands";

  import type { EditorState } from "prosemirror-state";
  import type { EditorView } from "prosemirror-view";

  import { commandListener, nodeIsActiveFn } from "../ps-utils";
  import { lang } from "../i18n_utils";

  export let view: EditorView;
  export let state: EditorState;

  const type = state.schema.nodes.blockquote;
  const locale = lang();
  const locales = {
    es: "Bloque de cita",
    en: "Blockquote",
  };

  $: isActive = nodeIsActiveFn(type, null, true);
  $: command = wrapIn(type);
  $: isPossible = command(state, null);
  $: actionListener = commandListener(view, command);
</script>

<button
  type="button"
  title={locales[locale]}
  class="btn btn-info"
  class:active={isActive(state)}
  on:mousedown={actionListener}
  disabled={!isPossible}
>
  <i class={`fa fa-quote-left`} />
  <span class="sr-only">{locales[locale]}</span>
</button>
