<script lang="ts">
  import { chainCommands } from "prosemirror-commands";

  import { wrapInList } from "prosemirror-schema-list";
  import { liftListItem } from "prosemirror-schema-list";
  import type { EditorState } from "prosemirror-state";
  import type { EditorView } from "prosemirror-view";

  import { ListKind } from "../utils";
  import { commandListener, nodeIsActiveFn } from "../ps-utils";
  import { lang } from "../i18n_utils";

  export let view: EditorView;
  export let state: EditorState;
  export let kind: ListKind;

  const locale = lang();
  const locales = {
    [ListKind.Unordered]: {
      es: "Lista con viñetas",
      en: "Bullet list",
    },
    [ListKind.Ordered]: {
      es: "Lista numerada",
      en: "Numbered list",
    },
  };

  $: type =
    kind === ListKind.Unordered
      ? state.schema.nodes.bullet_list
      : kind === ListKind.Ordered
      ? state.schema.nodes.ordered_list
      : null;
  const listItemType = state.schema.nodes.list_item;
  $: iconClassName =
    kind === ListKind.Unordered
      ? "fa-list-ul"
      : kind === ListKind.Ordered
      ? "fa-list-ol"
      : "fa-warning";

  $: isActive = nodeIsActiveFn(type, null, true);
  $: command = chainCommands(liftListItem(listItemType), wrapInList(type));
  $: isPossible = command(state, null);
  $: actionListener = commandListener(view, command);
</script>

<button
  type="button"
  title={locales[kind][locale]}
  class="btn btn-info"
  class:active={isActive(state)}
  on:mousedown={actionListener}
  disabled={!isPossible}><i class={`fa ${iconClassName}`} /></button
>
