<script lang="ts">
  import type { MarkType } from "prosemirror-model";
  import type { Command, EditorState } from "prosemirror-state";
  import type { EditorView } from "prosemirror-view";
  import { toggleMark } from "prosemirror-commands";
  import type { Writable } from "svelte/store";

  import { commandListener, markIsActive } from "../ps-utils";
  import { lang } from "../i18n_utils";

  export let view: EditorView;
  export let alert: Writable<string>;
  export let state: EditorState;
  export let type: MarkType;
  export let faIcon: string;
  export let small: boolean = false;

  const locale = lang();
  const locales = {
    strong: {
      es: "Fuertecita",
      en: "Bold",
    },
    em: {
      es: "Énfasis",
      en: "Emphasis",
    },
    underline: {
      es: "Subrayado",
      en: "Underline",
    },
    strikethrough: {
      es: "Tachado",
      en: "Strikethrough",
    },
    sub: {
      es: "Sub-índice",
      en: "Sub-script",
    },
    sup: {
      es: "Índice",
      en: "Super-script",
    },
    small: {
      es: "Texto pequeño",
      en: "Smaller text",
    },
  };
  const footnoteAlertLocales = {
    es: "Perdón, no pude pintar esta selección porque contiene una nota al pie. Deseleccionala para poder pintar.",
    en: "Sorry, I couldn't mark this selection because it contains a footnote. Deselect it to be able to mark.",
  };

  const toggleMarkUnlessTheresAFootnote =
    (markType: MarkType): Command =>
    (state, dispatch) => {
      let containsFootnote = false;
      state.selection.content().content.descendants((node) => {
        if (containsFootnote) return false;
        if (node.type.name === "footnote") {
          containsFootnote = true;
          return false;
        }
      });
      if (containsFootnote) {
        if (dispatch) {
          $alert = footnoteAlertLocales[lang()];
        }
        return false;
      }

      return toggleMark(markType)(state, dispatch);
    };

  $: isActive = markIsActive(state, type);
  $: listener = commandListener(view, toggleMarkUnlessTheresAFootnote(type));
</script>

<button
  title={locales[type.name][locale]}
  type="button"
  class="btn btn-info"
  class:active={isActive}
  on:mousedown={listener}
>
  {#if small}
    <small><i class={`fa fa-${faIcon}`} /></small>
  {:else}
    <i class={`fa fa-${faIcon}`} />
  {/if}
  <span class="sr-only">{locales[type.name][locale]}</span>
</button>
