<script lang="ts">
  import type { EditorState } from "prosemirror-state";
  import type { EditorView } from "prosemirror-view";
  import { insertPoint } from "prosemirror-transform";
  import {
    uploadFile,
    placeholderPlugin,
    findPlaceholder,
    mimeToKind,
  } from "../uploads";
  import { lang } from "../i18n_utils";
  import { nanoid } from "nanoid";

  export let view: EditorView;
  export let state: EditorState;

  const type = state.schema.nodes.multimedia;
  const locale = lang();
  const locales = {
    es: "Subir imagen, video, audio o PDF",
    en: "Upload image, video, audio or PDF",
  };

  let inputEl: HTMLInputElement;

  function startUploading() {
    inputEl.click();
  }
  function upload() {
    // TODO: permitir reemplazar el contenido de multimedia de un multimedia
    // ya existente
    if (
      inputEl.files.length > 0 &&
      state.selection.$from.parent.inlineContent
    ) {
      const id = nanoid();
      let tr = view.state.tr;
      const point = insertPoint(state.doc, state.selection.to, type);
      tr.setMeta(placeholderPlugin, [{ add: { id, pos: point } }]);
      view.dispatch(tr);

      const file = inputEl.files[0];
      uploadFile(file, id)
        .then(({ url }) => {
          const placeholderPos = findPlaceholder(view.state, id);
          // si se borró el placeholder, no subir imágen
          if (placeholderPos == null) return;

          const node = state.schema.nodes.multimedia.createChecked({
            src: url,
            kind: mimeToKind(file.type),
          });

          view.dispatch(
            view.state.tr
              .replaceWith(placeholderPos, placeholderPos, node)
              .setMeta(placeholderPlugin, [{ remove: { id } }])
          );
        })
        .catch((err) => {
          // TODO: mostrar error
          console.error(err);
          view.dispatch(
            view.state.tr.setMeta(placeholderPlugin, [{ remove: { id } }])
          );
        });
    }
    view.focus();
  }
</script>

<button
  type="button"
  title={locales[locale]}
  class="btn btn-info"
  on:mousedown|preventDefault={startUploading}
  ><i class={`fa fa-upload`} />
  <span class="sr-only">{locales[locale]}</span></button
>
<input
  type="file"
  bind:this={inputEl}
  on:change|preventDefault={upload}
  hidden
/>
