<script lang="ts">
  import type { SvelteNodeViewControls } from "prosemirror-svelte-nodeview";
  import { lang } from "../i18n_utils";

  const locale = lang();
  const locales = {
    inputPlaceholder: {
      es: "Describí la imagen para hacerla accesible y encontrable por buscadores",
      en: "Describe the image to make it accessible and findable in search engines",
    },
  };

  export let attrs: { kind: string; src: string; alt?: string };
  export let controls: SvelteNodeViewControls;
  $: setAlt = (text: string) =>
    controls.update((state, node, getPos) =>
      state.tr.setNodeAttribute(getPos(), "alt", text)
    );

  $: src = attrs.src;
  $: kind = attrs.kind;
  $: alt = attrs.alt;
</script>

<figure>
  {#if kind === "img"}
    <div>
      <textarea
        class="form-control"
        placeholder={locales.inputPlaceholder[locale]}
        value={alt}
        on:input={(evt) => setAlt(evt.currentTarget.value)}
      />
      <img class="max-w-100" {src} {alt} />
    </div>
  {:else if kind === "video"}
    <video class="max-w-100" {src} controls />
  {:else if kind === "audio"}
    <video class="max-w-100" {src} controls />
  {:else if kind === "iframe"}
    <iframe class="w-100" {src} />
  {/if}
</figure>

<style>
  div {
    display: flex;
    position: relative;
  }

  div .form-control {
    opacity: 0;
    transition: opacity 0.2s;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 1em;
    width: 80%;
  }

  div:hover .form-control,
  div .form-control:focus {
    opacity: 1;
  }
</style>
