<script lang="ts">
  import { type EditorState } from "prosemirror-state";
  import {
    getFirstMarkInSelection,
    getMarkRange,
    removeMark,
    selectMark,
  } from "../ps-utils";
  import type { EditorView } from "prosemirror-view";
  import { linkFloatingUi,  } from "./floatingUi";
  import { readable, type Writable } from "svelte/store";
  import { flip, shift, offset } from "@floating-ui/dom";
  import { lang } from "../i18n_utils";

  export let state: EditorState;
  export let view: EditorView;
  export let editingLink: Writable<false | "new" | "selection">;

  let tooltipEl: HTMLElement;
  $: markType = view.state.schema.marks.link;
  $: link = state && getFirstMarkInSelection(view.state, markType);
  $: shown = !!link && !$editingLink;

  $: style = shown
    ? linkFloatingUi(view, tooltipEl, {
        placement: "bottom",
        middleware: [offset(6), flip(), shift({ padding: 5 })],
      })
    : readable("");

  const locales = {
    edit: {
      en: "Edit link",
      es: "Editar enlace",
    },
    remove: {
      en: "Remove link",
      es: "Borrar enlace",
    },
  };

  function editLink() {
    selectMark(link, view.state, view.dispatch);
    $editingLink = "selection";
  }
  function removeLink() {
    const range = getMarkRange(state.selection.$from, markType);
    if (!range)
      throw new Error("removeLink: Couldn't get mark range to remove");
    view.dispatch(state.tr.removeMark(range.from, range.to, markType));
  }
</script>

<div
  class="x-tooltip bg-gray"
  hidden={!shown}
  bind:this={tooltipEl}
  style={$style}
>
  <!-- TODO: hacer que el clickeable sea relativo a la url final del sitio? -->
  <span>
    <a
      href={link?.mark.attrs.href}
      rel="noopener noreferrer nofollow"
      target="_blank"
    >
      {link?.mark.attrs.href}
    </a>
  </span>
  <button type="button" on:click={editLink}>
    <i class={`fa fa-edit`} title={locales.edit[lang()]} />
  </button>
  <button type="button" on:click={removeLink}>
    <i class={`fa fa-remove`} title={locales.remove[lang()]} />
  </button>
</div>

<style>
  .x-tooltip {
    width: max-content;
    position: absolute;
    background: #222;
    color: white;
    border-radius: 4px;
    z-index: 420;
    line-height: 1;

    display: flex;
    align-items: center;
  }
  .x-tooltip > * {
    padding: 0.4rem 0.5rem;
  }
  a {
    display: block;
    color: lightblue;
    max-width: 50vw;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  button {
    background: #222;
    color: white;
    border: none;
    appearance: none;
    font-size: 1.5rem;
    border-radius: 4px;
  }
  button:hover {
    background: #444;
  }
</style>
