@import "fork-awesome/css/fork-awesome.min.css";

* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}
*::before,
*::after {
  box-sizing: border-box;
}

html {
  margin: 1rem;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.editor {
  max-width: 60rem;
  margin: 2rem auto;
}

td,
th {
  border: 1px grey solid;
}
