<script lang="ts">
  import { onMount, onDestroy } from "svelte";
  import { writable } from "svelte/store";
  import { nanoid } from "nanoid";
  import { history } from "prosemirror-history";
  import { keymap } from "prosemirror-keymap";
  import { EditorState, Plugin } from "prosemirror-state";
  import { EditorView } from "prosemirror-view";
  import { dropCursor } from "prosemirror-dropcursor";
  import { gapCursor } from "prosemirror-gapcursor";
  import { DOMParser, DOMSerializer, Fragment } from "prosemirror-model";
  import { svelteNodeViewPlugin } from "prosemirror-svelte-nodeview";

  import { schema } from "./schema";
  import MenuBar from "./MenuBar.svelte";
  import FootnotesView from "./footnotes/FootnotesView.svelte";
  import { placeholderPlugin } from "./uploads";
  import { autoUploadPlugin } from "./uploads/auto-upload";
  import { baseKeymap } from "./keymap";
  import { autolink } from "./autolink";
  import { footnoteLinksPlugin } from "./footnotes/links";
  import MultimediaView from "./nodeviews/MultimediaView.svelte";
  import EditLinkMenu from "./bubblemenu/EditLinkMenu.svelte";

  import "prosemirror-view/style/prosemirror.css";
  import "./footnotes/footnotes.css";
  import LinkTooltip from "./bubblemenu/LinkTooltip.svelte";

  const editorId = nanoid();

  const domParser = DOMParser.fromSchema(schema);
  const domSerializer = new DOMSerializer(
    {
      ...DOMSerializer.nodesFromSchema(schema),
      footnote(node) {
        return [
          "will-fix-afterwards-footnote",
          { "data-footnote-id": node.attrs.id },
          0,
        ];
      },
    },
    DOMSerializer.marksFromSchema(schema)
  );

  function serialize(fragment: Fragment): DocumentFragment {
    let doc = domSerializer.serializeFragment(fragment);
    if (doc instanceof HTMLElement) {
      const el = doc;
      doc = new DocumentFragment();
      doc.append(el);
    }

    const footnotes = doc.querySelectorAll("will-fix-afterwards-footnote");
    if (footnotes.length > 0) {
      const list = document.createElement("ol");
      doc.appendChild(list);
      let number = 1;
      for (const footnote of footnotes) {
        const id = footnote.getAttribute("data-footnote-id");
        const item = document.createElement("li");
        item.id = `fn${id}`;
        item.append(...footnote.childNodes);
        const goBackLink = document.createElement("a");
        goBackLink.href = `#fnef${id}`;
        goBackLink.append("↩︎︎");
        goBackLink.setAttribute("role", "doc-backlink");
        goBackLink.dataset.turbo = "false";
        item.append(" ", goBackLink);
        list.appendChild(item);

        const link = document.createElement("a");
        link.href = `#fn${id}`;
        link.id = `fnef${id}`;
        link.setAttribute("role", "doc-noteref");
        link.dataset.turbo = "false";
        const numberSup = document.createElement("sup");
        numberSup.append("" + number);
        link.appendChild(numberSup);
        footnote.replaceWith(link);

        number++;
      }
    }

    return doc;
  }

  // De donde tomar el contenido y a donde sincronizarlo
  export let textareaEl: HTMLTextAreaElement;
  $: textareaEl.hidden = true;

  let wrapperEl: HTMLElement;

  let state: EditorState;
  let view: EditorView;
  onMount(() => {
    const firstStateEl = document.createElement("div");
    firstStateEl.innerHTML = textareaEl.value;
    const doc = domParser.parse(firstStateEl);

    state = EditorState.create({
      schema,
      doc,
      plugins: [
        new Plugin({
          view: (editorView) => {
            editorView.dom.parentElement.replaceWith(editorView.dom);
            return {
              update(view, lastState) {
                state = view.state;
              },
            };
          },
        }),
        dropCursor(),
        gapCursor(),
        //menubar(schema),
        history(),
        keymap(baseKeymap),
        placeholderPlugin,
        footnoteLinksPlugin(editorId),
        autoUploadPlugin,
        autolink(),
        svelteNodeViewPlugin({
          nodes: {
            multimedia: MultimediaView,
          },
        }),
      ],
    });

    view = new EditorView(wrapperEl, {
      state,
      handleDOMEvents: {
        focus() {
          $focusedView = view;
        },
      },
    });
    $focusedView = view;
    view.dom.classList.add("form-control", "h-auto");
  });
  onDestroy(() => {
    view.destroy();
    textareaEl.hidden = false;
  });

  const focusedView = writable(view);

  const debug = false;
  let html = "";

  const editingLink = writable<false | "new" | "selection">(false);

  $: {
    if (state) {
      const frag = serialize(state.doc.content);
      const el = document.createElement("div");
      el.appendChild(frag);
      textareaEl.innerHTML = el.innerHTML;
      if (debug) html = el.innerHTML;
    }
  }
</script>

<div class="editor">
  {#if view && $focusedView}
    <MenuBar {state} {focusedView} {editingLink} />
    <EditLinkMenu {state} {focusedView} {editingLink} />
    <LinkTooltip {state} view={$focusedView} {editingLink} />
  {/if}
  <!-- this element gets replaced with the editor itself when mounted -->
  <div bind:this={wrapperEl} />
  {#if view}
    <FootnotesView {view} {state} {focusedView} {editorId} />
  {/if}
  {#if debug}
    <div>{@html html}</div>
  {/if}
</div>

<style>
  /* utilizado para multimedia */
  :global(.max-w-100) {
    max-width: 100%;
  }

  /* PDFs */
  .editor :global(iframe) {
    height: 480px;
  }

  .editor {
    position: relative;
  }

  .editor :global(*::before),
  .editor :global(*::after) {
    box-sizing: border-box;
  }
</style>
